
.Recommendations {
    background-color: whitesmoke;
}
.results {
    padding: 30px;
    background-image: linear-gradient(to bottom right, #778ffc 50%, #37b3e6);
    color: white;
    margin: 60px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
}
.Recommendations #main {
    transition: margin-left .5s;
    padding-top: 100px;
    text-align: center;
}
.Recommendations #main h1 {
    margin: 0px;
    font-size: 40px;
}

.Recommendations #main h2 {
    margin: 0px;
}

