
.workout-screen {
    margin: 100px;
    margin-left: 150px;
}

.workout-screen h1 {
    font-size: 100px;
    margin: 0;
}

.workout-screen h2 {
    font-size: 50px;
    text-align: left;
    margin-left: 5px;
}

.workout-screen h3 {
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
}

.workout-screen #timer, #timerLabel {
    display: inline;
    margin: 0px;
    font-size: 80px;
}

#timerBack {
    background-color: whitesmoke;
    width: max-content;
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

#startTimer, #pauseTimer, #resetTimer, #nextButton, #prevButton, #finishButton {
    height:max-content;
    width:max-content;
    margin: 5px;
    padding: 6px 10px;
    font-size: 25px;
    border: none;

    color: white;
    display: inline;
    border-radius: 10px;
}

#nextButton, #prevButton, #finishButton {
    font-size: 30px;
}

#startTimer, #nextButton, #finishButton {
    background-color: #75d950;
}

#pauseTimer, #prevButton {
    background-color: #ff8854;
}

#resetTimer {
    background-color: #fa7566;
}

#startTimer:hover, #nextButton:hover, #finishButton:hover {
    background-color: limegreen;
}

#pauseTimer:hover, #prevButton:hover {
    background-color: #ff6b2b;
}

#resetTimer:hover {
    background-color: #eb5757;
}

#nextButton, #finishButton {
    display: block;
    margin-left: 350px;
}

.workout-screen #right, .workout-screen #left{
    width: 50%;
    height: 100%;
    display: inline-block;
}

.workout-screen #left-top {
    height: 550px;
    margin-top: 0px;
}

.workout-screen #right-top {
    height: 550px;
    margin-left: 200px;
}
.workout-screen #right-bottom, #left-bottom {
    height: 20px;
}

.workout-screen #wrapper {
    margin: 0 auto;
    display:flex;
}

.finish-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.1)
}

.finish-modal {
    background-image: linear-gradient(to right, #ff8c4a, #ff6e6e);
    color: white;
    height: 50%;
    margin: auto;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    -moz-box-shadow: 0 0 15px #a05f48;
    -webkit-box-shadow: 0 0 15px #a05f48;
}

.finish-modal h1 {
    font-size: 70px;
}
.finish-modal #home-button {
    margin-top: 25px;
    padding: 6px 10px;
    width: 250px;
    border-radius: 5px;
    font-size: 25px;
    border-style: none;
    color: #ff6363;
    background-color: #fff2ee;
}

#home-button:hover {
    -moz-box-shadow: 0 0 10px #aa4646;
    -webkit-box-shadow: 0 0 10px #aa4646;
    box-shadow: 0 0 10px #aa4646;
}